@use "header/header";
@use "main/main";
@use "footer/footer";
@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    background-color: #F5EBDC !important;
}


